body {
	padding: 50px;
	font: 10px "Lucida Grande", Arial, sans-serif;
	background-color: #F17220;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 200px;
	
}

a {
	color: #00B7FF;
}

#search {
	text-align: center;
	width: 80%;
	height: 70px;
	font-size: 3.5em;
	border-radius: 8px;
	border: 0px;
	align-self:center;
}

.result {
	width: 80%;
	height: 60px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 0px solid #999900;
	background-color: #FFFFFF;
	
	padding: 8px;
	spacing: 2px;
	font: 12px "Lucida Grande", Arial, sans-serif;
}