block content

div#content
  div#reader

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/html5-qrcode/lib/html5-qrcode.min.js")
  script(src="/javascripts/main.js")
  