block content

div#content
  input#search(type="search", placeholder="Search Tickets")
  div#results
  include template.html

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
  script(src="/javascripts/main.js")